html {
  box-sizing: border-box;
}



*, *:before, *:after {
  box-sizing: inherit;
}

.logo-img {
  border: 4px solid #F18805;
}

.logo-text {
}

.jumbotron {
  background-color: #fff;
  // background-image: url(./../assets/bridge.jpg);
}

.navbar {
  min-height: 56px;
    a:hover {

    }
}

.inline-block {
  display: inline-block;
}



// Extra small devices (portrait phones, less than 576px)
// This is the default size in Bootstrap
@media (max-width: 575px) {
  main {
    background-color: yellow;
  }
  .jumbotron {
    padding: 0;
  }
  .logo-end-text {
    display: none;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  main {
    background-color: blue;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  main {
    background-color: red;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  main {
    background-color: green;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  main {
    background-color: #fff;
  }
}
