/*
SASS VARIABLES
*******************************************************************************/
$brand-color: #0275D8;
$link-color: #274C77;
$link-hover: #C33C54;
$link-visited: #A30000;
$text-color: #565554;

/*
GENERAL HTML STYLES
*******************************************************************************/
html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative; // ready for scrollspy
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

p:not(h1) {
  color: $text-color;
}

/*
HEADER
*******************************************************************************/
.jumbotron {
  background-image: url("./../assets/laptop.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-color: #fff;
  .logo-text p {
    color: $brand-color;
  }
}

/*
NAVIGATION
*******************************************************************************/
.navbar {
  min-height: 56px;
}

/*
ABOUT ME SECTION
*******************************************************************************/

/*
PORTFOLIO SECTION
*******************************************************************************/
.portfolio {
  margin-top: 2rem;
}

/*
CONTACT
*******************************************************************************/
.contact-col {
  background-color: #fff;
  margin-top: 3rem;
}

// FAVICON SYMBOLS
.fa {
  display: block;
  font-size: 3rem;
}

/*
FOOTER
*******************************************************************************/
footer.navbar {
  background-color: #fff;
  p.nav-link {
    margin-bottom: 0;
  }
}

/*
JQUERY
*******************************************************************************/



/*
MEDIA QUERIES
*******************************************************************************/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .jumbotron {
    padding: 10px 0;
    .logo-text {
      margin-left: 0;
      padding: 1rem 0;
    }
  }

  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 10px;
  }

  .contact-col {
    margin: 0;
    .contact-nav-links {
      display: flex;
      a.nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0px;
        p {
          display: none;
        }
      }
    }
  }

  footer.navbar {
    background-color: #292B2C;
  }
  #scroll-up-div {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .jumbotron {
    padding: 0;
    .logo-text {
      margin-left: 0;
      padding: 1rem 0;
      .logo-img-span {
        display: none;
      }
    }
  }
  #scroll-up-div {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #scroll-up-div {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  #scroll-up-div {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  header {
    margin-bottom: 2rem;
    .jumbotron {
      height: calc(100vh - 56px);
      display: flex;
      align-items: center;
      // background-image: url('./../images/surf.jpg');
      // background-size: cover;
      background-position: 90% 10%;
      .container {
        justify-content: center;
        align-items: center;
        margin-top: -56px;
        opacity: 0.9;
      }
    }
  }

  #scroll-up-div {
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 93%;
    i {
      display: none;
      justify-content: center;
      align-items: center;
      margin: 6px;
      color: $brand-color;
    }
  }
}
