/*
SASS VARIABLES
*******************************************************************************/
/*
GENERAL HTML STYLES
*******************************************************************************/
html {
  box-sizing: border-box;
  color: #6D676E; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative; }

a {
  color: #0275D8; }
  a:hover {
    color: #D11149;
    text-decoration: none; }

/*
HEADER
*******************************************************************************/
.jumbotron {
  margin-bottom: 10px;
  background-color: #fff; }
  .jumbotron .logo-text p {
    color: #F18805; }

/*
NAVIGATION
*******************************************************************************/
.navbar {
  min-height: 56px; }

/*
ABOUT ME SECTION
*******************************************************************************/
/*
PORTFOLIO SECTION
*******************************************************************************/
.portfolio {
  margin-top: 2rem; }

/*
CONTACT
*******************************************************************************/
.contact-col {
  background-color: #fff;
  margin-top: 3rem; }

.fa {
  display: block;
  font-size: 3rem; }

/*
FOOTER
*******************************************************************************/
footer.navbar {
  background-color: #fff; }
  footer.navbar p.nav-link {
    margin-bottom: 0; }

/*
JQUERY
*******************************************************************************/
/*
MEDIA QUERIES
*******************************************************************************/
@media (max-width: 575px) {
  .jumbotron {
    padding: 0; }
    .jumbotron .logo-text {
      margin-left: 0;
      padding: 1rem 0; }

  h1 {
    margin-bottom: 0; }

  .contact-col {
    margin: 0; }
    .contact-col .contact-nav-links {
      display: flex; }
      .contact-col .contact-nav-links a.nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0px; }
        .contact-col .contact-nav-links a.nav-link p {
          display: none; }

  footer.navbar {
    background-color: #292B2C; }

  #scroll-up-div {
    display: none; } }
@media (min-width: 576px) and (max-width: 767px) {
  .jumbotron {
    padding: 0; }
    .jumbotron .logo-text {
      margin-left: 0;
      padding: 1rem 0; }
      .jumbotron .logo-text .logo-img-span {
        display: none; }

  #scroll-up-div {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  #scroll-up-div {
    display: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #scroll-up-div {
    display: none; } }
@media (min-width: 1200px) {
  header {
    margin-bottom: 2rem; }
    header .jumbotron {
      height: calc(100vh - 56px);
      display: flex;
      align-items: center;
      background-position: 90% 10%; }
      header .jumbotron .container {
        justify-content: center;
        align-items: center;
        margin-top: -56px;
        opacity: 0.9; }

  #scroll-up-div {
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 93%; }
    #scroll-up-div i {
      display: none;
      justify-content: center;
      align-items: center;
      margin: 6px;
      color: #F18805; } }

/*# sourceMappingURL=main.css.map */
