/*
GENERAL HTML STYLES
*******************************************************************************/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
SASS VARIABLES
*******************************************************************************/
/*
HEADER
*******************************************************************************/
.logo-img {
  border: 4px solid #F18805; }

/*
NAVIGATION
*******************************************************************************/
.navbar {
  min-height: 56px; }
  .navbar a:hover {
    color: #F18805; }

/*
ABOUT ME SECTION
*******************************************************************************/
/*
CONTACT / SOCIAL MEDIA SECTION
*******************************************************************************/
.social-media-col {
  background-color: #ccc; }

.fa {
  display: block;
  font-size: 5rem; }

/*
FOOTER
*******************************************************************************/
p.nav-link {
  margin-bottom: 0; }

/*
MEDIA QUERIES
*******************************************************************************/
@media (max-width: 575px) {
  main {
    background-color: yellow; }
  .jumbotron {
    padding: 0; }
  .logo-text {
    margin-left: 0; }
    .logo-text .logo-end-text {
      display: none; }
  .logo-img-span {
    display: none; }
  .fa {
    font-size: 3rem; } }

@media (min-width: 576px) {
  main {
    background-color: blue; } }

@media (min-width: 768px) {
  main {
    background-color: red; } }

@media (min-width: 992px) {
  main {
    background-color: green; } }

@media (min-width: 1200px) {
  main {
    background-color: #fff; } }
